<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RSS#</title>
  <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/config.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="main" v-cloak>
    <h1>設定</h1>
    <a href="index.html">←戻る</a>
    <div id="config-input">
      <input type="text" placeholder="RSS URL" v-model="newUrl">
      <button @click="add(newUrl)">追加</button>
      <p id="config-input-error">{{errorMessage}}</p>
    </div>
    <div class="rss-config" v-for="site in sites">
      <div class="rss-config-delete">×</div>
      <div class="rss-config-content">
        {{ site.name }}<br>
        <span class="rss-config-url">{{ site.url }}</span>
      </div>
    </div>
  </div>
  <script src="js/config.js"></script>
</body>

</html>
